%div{:path => "/delice", :id => "delice"}
  .wrapper
    #scroller
      %h2 Délice Roll
      %h3.subheader (Servis par 6 pièces) Riz vinaigré avec poisson cru ou légumes dans tranche de saumon
      %hr      
      %ul.row
        %li.four.column
          = image_tag("temp/food/delice/dr1.jpg")
          .food_infos
            %h4 
              DR1 Delice saumon roll
              %small
                (Cheese, avocat)
            %price
              6€80
            %hr
        %li.four.column
          = image_tag("temp/food/delice/dr2.jpg")
          .food_infos
            %h4 
              DR2 Delice saumon roll
              %small
                (thon cuit, avocat)
            %price
              6€80
            %hr
        %li.four.column
          = image_tag("temp/food/delice/dr3.jpg")
          .food_infos
            %h4 
              DR3 
              %small
                (Cheese, saumon)
            %price
              6€80
            %hr
        %li.four.column
          = image_tag("temp/food/delice/dr4.jpg")
          .food_infos
            %h4 
              DR4 Delice saumon roll
              %small
                (cheese)
            %price
              4€50
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/delice/dr5.jpg")
          .food_infos
            %h4 
              DR5 Delice saumon roll
              %small
                (Saumon, avocat)
            %price
              6€80
            %hr