%div{:path => "/delice", :id => "delice"}
  .wrapper
    #scroller
      %h2 California Maki
      %h3.subheader (Servis par 6 pièces) Riz vinaigré avec poisson cru ou légumes
      %ul.row
        %li.four.column
          = image_tag("temp/food/delice/dr5.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                thon
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/delice/dr5.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                thon
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/delice/dr5.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                thon
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/delice/dr5.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                thon
            %price
              4€50
      %ul.row
        %li.four.column
          = image_tag("temp/food/delice/dr5.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                thon
            %price
              4€50