%div{:path => "/", :id => "home"}
  .flex-container
    .flexslider
      %ul.slides
        %li
          = image_tag("temp/restaurant/1.jpg")
        %li
          = image_tag("temp/restaurant/2.jpg")
        %li
          = image_tag("temp/restaurant/3.jpg")
        %li
          = image_tag("temp/restaurant/4.jpg")
        %li
          = image_tag("temp/restaurant/5.jpg")
        %li
          = image_tag("temp/restaurant/6.jpg")