%div{:path => "/maki", :id => "maki"}
  .wrapper
    #scroller
      %ul.row
        %li.four.column
          = image_tag("temp/food/maki/ma1.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/maki/ma2.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/maki/ma3.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/maki/ma4.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
      %ul.row
        %li.four.column
          = image_tag("temp/food/maki/ma4.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/maki/ma5.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/maki/ma6.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/maki/ma7.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
      %ul.row
        %li.four.column
          = image_tag("temp/food/maki/ma8.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50     
        %li.four.column
          = image_tag("temp/food/maki/ma9.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/maki/ma11.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/maki/ma13.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
      %ul.row
        %li.four.column
          = image_tag("temp/food/maki/ma14.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/maki/ma15.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/maki/ma17.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/maki/ma18.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50