%div{:path => "/california", :id => "maki"}
  .wrapper
    #scroller
      %h2 Nos Maki
      %h3.subheader (Servis par 6 pièces) Riz vinaigré avec poisson cru ou légumes dans une feuille d'algue
      %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/maki/ma1.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma2.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma3.jpg")
          .food_infos
            %h4 
              MA3 Crabe Maki
              %small
                (surimi)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma4.jpg")
          .food_infos
            %h4 
              MA4 Kappa Maki
              %small
                (concombre)
            %price
              4€00
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma5.jpg")
          .food_infos
            %h4 
              MA5 Avocat Maki
              %small
                (avocat)
            %price
              4€00
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma6.jpg")
          .food_infos
            %h4 
              MA6 Unagi Maki
              %small
                (anguille)
            %price
              5€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma7.jpg")
          .food_infos
            %h4 
              MA7 Oshinko Maki
              %small
                (radis marinés)
            %price
              4€00
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma8.jpg")
          .food_infos
            %h4 
              MA8 Kura maki
              %small
                (oeuf de saumon)
            %price
              5€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma9.jpg")
          .food_infos
            %h4 
              MA9 Florida Maki
              %small
                (avocat saumon)
            %price
              6€00     
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma15.jpg")
          .food_infos
            %h4 
              MA15 Cheese Maki
              %small
                (fromage)
            %price
              6€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma17.jpg")
          .food_infos
            %h4 
              MA16 Maki Avocat cheese
              %small
                (avocat fromage)
            %price
              6€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma18.jpg")
          .food_infos
            %h4 
              MA17 Cheese concombre
              %small
                (Concombre fromage)
            %price
              6€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma14.jpg")
          .food_infos
            %h4 
              MA14 Futomaki (8 pièces)
              %small
                (saumon, thon, concombre, avocat)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma11.jpg")
          .food_infos
            %h4 
              MA11 Temaki
              %small
                (cornet au choix servi par paire)
            %price
              6€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma13.jpg")
          .food_infos
            %h4 
              MA13 California maki frit
              %small
                (Thon avocat)
            %price
              4€50
            %hr