%div{:path => "/california", :id => "maki"}
  .wrapper
    #scroller
      %h2 Nos Maki
      %h3.subheader (Servis par 6 pièces) Riz vinaigré avec poisson cru ou légumes dans une feuille d'algue
      %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/maki/ma1.jpg")
          .food_infos
            %h4 
              MA1 Tekka Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma2.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma3.jpg")
          .food_infos
            %h4 
              MA3 Crabe Maki
              %small
                (surimi)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma4.jpg")
          .food_infos
            %h4 
              MA4 Kappa Maki
              %small
                (concombre)
            %price
              4€00
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma5.jpg")
          .food_infos
            %h4 
              MA5 Avocat Maki
              %small
                (avocat)
            %price
              4€00
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma6.jpg")
          .food_infos
            %h4 
              MA6 Unagi Maki
              %small
                (anguille)
            %price
              5€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma7.jpg")
          .food_infos
            %h4 
              MA7 Oshinko Maki
              %small
                (radis marinés)
            %price
              4€00
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma8.jpg")
          .food_infos
            %h4 
              MA8 Kura maki
              %small
                (oeuf de saumon)
            %price
              5€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma9.jpg")
          .food_infos
            %h4 
              MA9 Florida Maki
              %small
                (avocat saumon)
            %price
              6€00     
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma15.jpg")
          .food_infos
            %h4 
              MA15 Cheese Maki
              %small
                (fromage)
            %price
              6€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma16.jpg")
          .food_infos
            %h4 
              MA16 Maki thon cuit
              %small
                (Thon cuit)
            %price
              6€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma17.jpg")
          .food_infos
            %h4 
              MA17 Maki Avocat cheese
              %small
                (avocat fromage)
            %price
              6€50
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/maki/ma18.jpg")
          .food_infos
            %h4 
              MA18 Cheese concombre
              %small
                (Concombre fromage)
            %price
              6€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma14.jpg")
          .food_infos
            %h4 
              MA14 Futomaki (8 pièces)
              %small
                (saumon, thon, concombre, avocat)
            %price
              8€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma11.jpg")
          .food_infos
            %h4 
              MA11 Temaki
              %small
                (cornet au choix servi par paire)
            %price
              6€50
            %hr
        %li.four.column
          = image_tag("temp/food/maki/ma13.jpg")
          .food_infos
            %h4 
              MA13 California maki frit
              %small
                (Thon avocat)
            %price
              6€50
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/maki/ma12.jpg")
          .food_infos
            %h4 
              MA12 las Vegas Maki
              %small
                (avocat, saumon)
            %price
              6€50
            %hr
      %h2 California Rolls
      %h3.subheader (Servis par 6 pièces) Riz vinaigré avec poisson cru et légumes
      %hr      
      %ul.row
        %li.four.column
          = image_tag("temp/food/california/ca1.jpg")
          .food_infos
            %h4
              CA1 California Maki
              %small
                (avocat, saumon)
            %price
              6€00
            %hr
        %li.four.column
          = image_tag("temp/food/california/ca2.jpg")
          .food_infos
            %h4
              CA2 California maki 
              %small
                (avocat, thon)
            %price
              6€50
            %hr
        %li.four.column
          = image_tag("temp/food/california/ca3.jpg")
          .food_infos
            %h4 
              CA3 California maki 
              %small
                (avocat, crabe)
            %price
              6€00
            %hr
        %li.four.column
          = image_tag("temp/food/california/ca4.jpg")
          .food_infos
            %h4 
              CA4 California maki
              %small
                (avocat, thon cuit)
            %price
              6€50
            %hr
      %h2 Primptemps roll
      %h3.subheader (Servis par 6 pièces) Riz vinaigré avec poisson cru ou légumes dans une feuille de salade
      %hr      
      %ul.row
        %li.four.column
          = image_tag("temp/food/primptemps/p1.jpg")
          .food_infos
            %h4 
              P1 Primptemps roll
              %small
                (saumon, cheese)
            %price
              6€80
            %hr
        %li.four.column
          = image_tag("temp/food/primptemps/p2.jpg")
          .food_infos
            %h4 
              P2 Primptemps roll
              %small
                (saumon, avocat)
            %price
              6€80
            %hr
        %li.four.column
          = image_tag("temp/food/primptemps/p3.jpg")
          .food_infos
            %h4 
              P3 Primptemps roll
              %small
                (thon, avocat)
            %price
              6€80
            %hr
        %li.four.column
          = image_tag("temp/food/primptemps/p4.jpg")
          .food_infos
            %h4 
              p4
              %small
                (Crevette, avocat)
            %price
              6€80
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/primptemps/p5.jpg")
          .food_infos
            %h4 
              p5 Primptemps roll
              %small
                (Thon cuit, avocat)
            %price
              6€80
            %hr
      %h2 Délice Roll
      %h3.subheader (Servis par 6 pièces) Riz vinaigré avec poisson cru ou légumes dans tranche de saumon
      %hr      
      %ul.row
        %li.four.column
          = image_tag("temp/food/delice/dr1.jpg")
          .food_infos
            %h4 
              DR1 Delice saumon roll
              %small
                (Cheese, avocat)
            %price
              6€80
            %hr
        %li.four.column
          = image_tag("temp/food/delice/dr2.jpg")
          .food_infos
            %h4 
              DR2 Delice saumon roll
              %small
                (thon cuit, avocat)
            %price
              6€80
            %hr
        %li.four.column
          = image_tag("temp/food/delice/dr3.jpg")
          .food_infos
            %h4 
              DR3 Cheese saumon
              %small
                (Cheese, saumon)
            %price
              6€80
            %hr
        %li.four.column
          = image_tag("temp/food/delice/dr4.jpg")
          .food_infos
            %h4 
              DR4 Cheese
              %small
                (cheese)
            %price
              6€80
            %hr