%div{:path => "/menu_midi", :id => "menu_midi"}
  .wrapper
    #scroller
      %h2 California Maki
      %h3.subheader (Servis par 6 pièces) Riz vinaigré avec poisson cru ou légumes
      %ul.row
        %li.four.column
          = image_tag("temp/food/sashimi/sa1.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                thon
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/sashimi/sa2.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                thon
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/sashimi/sa3.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                thon
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/sashimi/sa4.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                thon
            %price
              4€50
      %ul.row
        %li.four.column
          = image_tag("temp/food/sashimi/sa5.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                thon
            %price
              4€50