%div{:path => "/menu", :id => "menu"}
  .wrapper
    #scroller
      %h2 Nos Menus
      %h3.subheader Servis avec soupe, salade, riz nature (sauf plat chaud supplément +2€)
      %hr      
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu/m1.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m2.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m3.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m4.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu/m5a.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m6.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m7.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m8.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu/m8a.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m9.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m9a.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m10.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu/m11.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m12.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m12a.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m15.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr                                    
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu/m28.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m31.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m32.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr