%div{:path => "/menu_midi", :id => "menu_midi"}
  .wrapper
    #scroller
      %h2 Nos Menus midi 
      %h3.subheader Servis uniquement le midi du lundi au vendredi (sauf jour fériés)
      %hr  
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu_midi/MD1.jpg")
          .food_infos
            %h4 
              MD1 
              %small
                4 brochettes : 2 boulettes de poulet, 2 boeuf au fromage
            %price
              7€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu_midi/MD2.jpg")
          .food_infos
            %h4 
              MD2
              %small
                5 brochettes : 1 boulettes de poulet, 1 boeuf, 1 ailes de poulet
            %price
              8€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu_midi/MD3.jpg")
          .food_infos
            %h4 
              MD3
              %small
                5 brochettes : 2 saumon, 3 thon
            %price
              8€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu_midi/MD4.jpg")
          .food_infos
            %h4 
              MD4 
              %small
                6 brochettes : 2 boulettes de poulet, 2 canard, 2 boeuf au fromage
            %price
              11€50
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu_midi/MD5.jpg")
          .food_infos
            %h4 
              MD5
              %small
                6 California Maki, 2 brochettes :  1 boulettes de poulet, 1 boeuf fromage
            %price
              11€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu_midi/MD6.jpg")
          .food_infos
            %h4 
              MD6
              %small
                12 Sashimi assortiment
            %price
              13€00
            %hr
        %li.four.column
          = image_tag("temp/food/menu_midi/MD7.jpg")
          .food_infos
            %h4 
              MD7
              %small
                3 sushi, 6 sashimi, 2 brochettes : boeuf au fromage, boulettes de poulet
            %price
              13€80
            %hr
        %li.four.column
          = image_tag("temp/food/menu_midi/MD8.jpg")
          .food_infos
            %h4 
              MD8
              %small
                3 Sushi Saumon, 6 Maki Saumon 2 brochettes : 2 boeuf au fromage
            %price
              12€80
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu_midi/MD9.jpg")
          .food_infos
            %h4 
              MD9
              %small
                6 Sushi
            %price
              10€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu_midi/MD10.jpg")
          .food_infos
            %h4 
              MD10
              %small
                6 sashimi, 5 brochettes : 1 ailes de poulet, 1 boeuf, 1 boulettes de poulet, 1 boeuf fromage
            %price
              18€50
            %hr