%div{:path => "/menu", :id => "menu"}
  .wrapper
    #scroller
      %h2 Nos Menus
      %h3.subheader Servis avec soupe, salade, riz nature (sauf plat chaud supplément +2€)
      %hr  
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu/m1.jpg")
          .food_infos
            %h4 
              M1 
              %small
                (6 california, 5 brochettes : 1boullette de poulet, 1 aile de poulet, 1 boeuf, 1poulet, 1 boeuf fromage)
            %price
              14€90
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m2.jpg")
          .food_infos
            %h4 
              M2
              %small
                (6 Las vegas, 5 brochettes : 1boullette de poulet, 1 aile de poulet, 1 boeuf, 1poulet, 1 boeuf fromage)
            %price
              15€90
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m3.jpg")
          .food_infos
            %h4 
              M3
              %small
                (6 sushi, 5 brochettes : 1boullette de poulet, 1 aile de poulet, 1 boeuf, 1poulet, 1 boeuf fromage)
            %price
              15€90
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m4.jpg")
          .food_infos
            %h4 
              M4 
              %small
                (12 sashimi, 5 brochettes : 1boullette de poulet, 1 aile de poulet, 1 boeuf, 1poulet, 1 boeuf fromage)
            %price
              16€90
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu/M5.jpg")
          .food_infos
            %h4 
              M5
              %small
                6 sushi, 6 maki
            %price
              13€90
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m5a.jpg")
          .food_infos
            %h4 
              M5A
              %small
                (3 sushi saumon, 4 maki primptemps, 4 sashimi saumon)
            %price
              16€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m6.jpg")
          .food_infos
            %h4 
              M6
              %small
                (chirashi au choix : Thon, Saumon, Assortiment, boeuf)
            %price
              14€90
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m7.jpg")
          .food_infos
            %h4 
              M7
              %small
                (10 sushi Mulet, Thon, Saumon)
            %price
              16€50
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu/m8.jpg")
          .food_infos
            %h4 
              M8
              %small
                (18 maki : 6 california surimi avocat, 6 maki saumon, 6 maki thon)
            %price
              13€90
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m8a.jpg")
          .food_infos
            %h4 
              M8A
              %small
                (18 maki : 6 california thon cuit avocat, 6 maki saumon, 6 maki thon)
            %price
              18€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m9.jpg")
          .food_infos
            %h4 
              M9
              %small
                (4 suhsi, 12 sashimi)
            %price
              17€00
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m9a.jpg")
          .food_infos
            %h4 
              M9A 
              %small
                (6 california thon cuit, 12 sashimi)
            %price
              17€00
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu/m10.jpg")
          .food_infos
            %h4 
              M10
              %small
                (25 sashimi)
            %price
              23€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m11.jpg")
          .food_infos
            %h4 
              M11
              %small
                (3 sushi, 3 maki, 9 sahimi)
            %price
              13€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m12.jpg")
          .food_infos
            %h4 
              M12
              %small
                (16 sashimi)
            %price
              16€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m12a.jpg")
          .food_infos
            %h4 
              M12A
              %small
                (3 maki, 3 sashimi, 3 sushi, 4 brochettes : 2 thon, 2 saumon)
            %price
              15€90
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu/m15.jpg")
          .food_infos
            %h4 
              M15
              %small
                (4 sushi, 3 maki, 9 sashimi, 5 brochettes : 1 boulettes de poulet, 1 ailes de poulet, 1 boeuf, 1 poulet, 1 boeuf fromage)
            %price
              20€50
            %hr                                    
        %li.four.column
          = image_tag("temp/food/menu/m17.jpg")
          .food_infos
            %h4 
              M17
              %small
                5 brochettes : 2 saumons, 1thon, 1 gambas, 1 coquille De St Jacques
            %price
              13€90
            %hr
        %li.four.column
          = image_tag("temp/food/menu/M18.jpg")
          .food_infos
            %h4 
              M18
              %small
                6 brochettes : 2 saumons, 2 caille, 2 boeuf - fromage
            %price
              13€90
            %hr
        %li.four.column
          = image_tag("temp/food/menu/M20.jpg")
          .food_infos
            %h4 
              M19
              %small
                7 brochettes : 1 boulettes de poulet, 1 aile de poulet, 1 boeuf, 1 poulet, 1 caille, 1 champignon, 1 courgettes
            %price
              14€90
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu/M19.jpg")
          .food_infos
            %h4 
              M20
              %small
                8 brochettes :  2 gambas, 2 saumon, 1 ailes de poulet, 1 boeuf, 1 brochettes de poulet, 1 fromage
            %price
              15€90
            %hr                                    
        %li.four.column
          = image_tag("temp/food/bateaux/M16.jpg")
          .food_infos
            %h4 
              M16
              %small
                5 Sushi, 6 maki, 20 sashimi
            %price
              27€00
            %hr                                    
        %li.four.column
          = image_tag("temp/food/bateaux/MP1.jpg")
          .food_infos
            %h4 
              MP1
              %small
                6 sushi, 6 maki, 20 sashimi, 8 brochettes : 2 caille, 2 ailes de poulet, 2 saumon, 2 boeuf au fromage
            %price
              42€50
            %hr                                    
        %li.four.column
          = image_tag("temp/food/bateaux/MP2.jpg")
          .food_infos
            %h4 
              MP2
              %small
                12 sushi, 6 maki, 6 california, 20 sashimi
            %price
              55€00
            %hr                                    