%div{:path => "/platschaud", :id => "platschaud"}
  .wrapper
    #scroller
      %h2 Plats chaud 
      %h3.subheader (Servi en menu avec soupe, salede et riz nature) +2 euros
      %hr      
      %ul.row
        %li.four.column
          = image_tag("temp/food/platschaud/M22.jpg")
          .food_infos
            %h4 
              M22 TORY KASU
              %small
                Poulet Pané frit
            %price
              10€90
            %hr
        %li.four.column
          = image_tag("temp/food/platschaud/M23.jpg")
          .food_infos
            %h4 
              M23 SHAKE TERIYAKI
              %small
                Saumon grillé, sauce caramélisée
            %price
              12€90
            %hr
        %li.four.column
          = image_tag("temp/food/platschaud/M25.jpg")
          .food_infos
            %h4 
              M25 EBI NO YAKIMONO
              %small
                Gambas grillées avec légumes sautés
            %price
              16€50
            %hr
        %li.four.column
          = image_tag("temp/food/platschaud/M26.jpg")
          .food_infos
            %h4 
              M26 HOTATE TEMPURA
              %small
                Coquille St. Jacques frites, sauce caramélisée, mayonnaise
            %price
              16€50
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/platschaud/m28.jpg")
          .food_infos
            %h4 
              M28 Tai no yakimono
              %small
                (Daurade grillé sauce maison)
            %price
              15€50
            %hr
        %li.four.column
          = image_tag("temp/food/platschaud/M29.jpg")
          .food_infos
            %h4 
              M29 EBI FURAI
              %small
                Crevettes panées
            %price
              15€50
            %hr
        %li.four.column
          = image_tag("temp/food/platschaud/m31.jpg")
          .food_infos
            %h4 
              M31 Maguro tataki
              %small
                (Thon mi cuit)
            %price
              14€50
            %hr
        %li.four.column
          = image_tag("temp/food/platschaud/m32.jpg")
          .food_infos
            %h4 
              M32 Kushikatsu moriawase
              %small
                Assortiment de brochetter panées
            %price
              14€50
            %hr