%div{:path => "/primptemps", :id => "primptemps"}
  .wrapper
    #scroller
      %h2 California Maki
      %h3.subheader (Servis par 6 pièces) Riz vinaigré avec poisson cru ou légumes
      %hr      
      %ul.row
        %li.four.column
          = image_tag("temp/food/primptemps/p1.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/primptemps/p2.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/primptemps/p3.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/primptemps/p4.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/primptemps/p5.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr