%div{:path => "/primptemps", :id => "primptemps"}
  .wrapper
    #scroller
      %ul.row
        %li.eight.column
          = image_tag("temp/food/primptemps/p1.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.eight.column
          = image_tag("temp/food/primptemps/p2.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.eight.column
          = image_tag("temp/food/primptemps/p3.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.eight.column
          = image_tag("temp/food/primptemps/p4.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
      %ul.row
        %li.eight.column
          = image_tag("temp/food/primptemps/p5.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50