%div{:path => "/sashimi", :id => "sashimi"}
  .wrapper
    #scroller
      %h2 Nos sashimi
      %h3.subheader (Servis par 10 tranches) Riz vinaigré avec poisson cru ou légumes
      %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/sashimi/sa1.jpg")
          .food_infos
            %h4 
              SA1 Maguro
              %small
                (thon)
            %price
              10€00
            %hr
        %li.four.column
          = image_tag("temp/food/sashimi/sa2.jpg")
          .food_infos
            %h4 
              SA2 Shaké
              %small
                (saumon)
            %price
              10€00
            %hr
        %li.four.column
          = image_tag("temp/food/sashimi/sa3.jpg")
          .food_infos
            %h4 
              SA3 TAI
              %small
                (Daurade)
            %price
              10€00
            %hr
        %li.four.column
          = image_tag("temp/food/sashimi/sa4.jpg")
          .food_infos
            %h4 
              SA4 Bora
              %small
                (Mulet)
            %price
              10€00
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/sashimi/sa5.jpg")
          .food_infos
            %h4 
              SA5 Tako
              %small
                (Poulpe)
            %price
              10€00
            %hr