%div{:path => "/sushi", :id => "sushi"}
  .wrapper
    #scroller
      %h2 Nos sushi
      %h3.subheader (Servis par paires) Fines tranches de poisson cru sur canapé de riz vinaigré
      %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/sushi/su1.jpg")
          .food_infos
            %hr.notop
            %h4  
              SU1 MAGURO
              %small
                5€50
            %price
              Thon
            %hr
        %li.four.column
          = image_tag("temp/food/sushi/su2.jpg")
          .food_infos
            %hr.notop
            %h4  
              SU2 SHAKE
              %small
                4€50
            %price
              Saumon
            %hr
        %li.four.column
          = image_tag("temp/food/sushi/su3.jpg")
          .food_infos
            %hr.notop
            %h4  
              SU3 TAI
              %small
                4€50
            %price
              Daurade
            %hr
        %li.four.column
          = image_tag("temp/food/sushi/su4.jpg")
          .food_infos
            %hr.notop
            %h4  
              SU4 BORA
              %small
                Mulet
            %price
              4€50
            %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/sushi/su5.jpg")
          .food_infos
            %hr.notop
            %h4  
              SU5 TAKO
              %small
                5€50
            %price
              Poulpe
            %hr
        %li.four.column
          = image_tag("temp/food/sushi/su6.jpg")
          .food_infos
            %hr.notop
            %h4  
              SU7 UNAGI
              %small
                5€50
            %price
              Anguille
            %hr
        %li.four.column
          = image_tag("temp/food/sushi/su8.jpg")
          .food_infos
            %hr.notop
            %h4  
              SU8 EBI
              %small
                5€50
            %price
              Crevette
            %hr
        %li.four.column
          = image_tag("temp/food/sushi/su7.jpg")
          .food_infos
            %hr.notop
            %h4  
              SU9 IKURA
              %small
                5€50
            %price
              Oeuf de saumon
            %hr