%div{:path => "/sushi", :id => "sushi"}
  .wrapper
    #scroller
      %ul.row
        %li.four.column
          = image_tag("temp/food/sushi/su1.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/sushi/su2.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/sushi/su3.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/sushi/su4.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
      %ul.row
        %li.four.column
          = image_tag("temp/food/sushi/su4.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/sushi/su5.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/sushi/su6.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.four.column
          = image_tag("temp/food/sushi/su7.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
      %ul.row
        %li.four.column
          = image_tag("temp/food/sushi/su8.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50