%div{:path => "/yakitori", :id => "yakitori"}
  .wrapper
    #scroller
      %h2 Nos Yakitori
      %h3.subheader (Servis par paire) Brochettes grillées au charbon de bois
      %hr
      %ul.row
        %li.four.column
          = image_tag("temp/food/yakitori/ya1.jpg")
          .food_infos
            %hr.notop
            %h4 
              YA1 SYONIKU
              %small
                4€50
            %price
              Poulet
            %hr
        %li.four.column
          = image_tag("temp/food/yakitori/ya2.jpg")
          .food_infos
            %hr.notop          
            %h4 
              YA2 TSUKUNE
              %small
                4€50
            %price
              Boulette de poulet
            %hr              
        %li.four.column
          = image_tag("temp/food/yakitori/ya3.jpg")
          .food_infos
            %hr.notop          
            %h4 
              YA3 TEBA
              %small
                4€50
            %price
              Ailes de poulet
            %hr              
        %li.four.column
          = image_tag("temp/food/yakitori/ya4.jpg")
          .food_infos
            %hr.notop         
            %h4 
              YA4 Uzura
              %small
                5€50
            %price
              Caille
            %hr              
      %ul.row
        %li.four.column
          = image_tag("temp/food/yakitori/ya5.jpg")
          .food_infos
            %hr.notop          
            %h4 
              YA5 CHEESE YAKI
              %small
                4€50
            %price
              Boeuf au fromage
            %hr              
        %li.four.column
          = image_tag("temp/food/yakitori/ya6.jpg")
          .food_infos
            %hr.notop          
            %h4 
              YA6 KAMO
              %small
                4€50
            %price
              Canard
            %hr              
        %li.four.column
          = image_tag("temp/food/yakitori/ya7.jpg")
          .food_infos
            %hr.notop         
            %h4 
              YA7 GUYNIKU
              %small
                5€50
            %price
              Boeuf
            %hr              
        %li.four.column
          = image_tag("temp/food/yakitori/ya8.jpg")
          .food_infos
            %hr.notop          
            %h4 
              YA8 KINOKO
              %small
                3€50
            %price
              Champignons
            %hr              
      %ul.row
        %li.four.column
          = image_tag("temp/food/yakitori/ya9.jpg")
          .food_infos
            %hr.notop          
            %h4 
              YA9 ZUKINI
              %small
                3€50
            %price
              Courgettes   
            %hr              
        %li.four.column
          = image_tag("temp/food/yakitori/ya10.jpg")
          .food_infos
            %hr.notop          
            %h4 
              YA10 SHAKE
              %small
                4€50
            %price
              Saumon
            %hr              
        %li.four.column
          = image_tag("temp/food/yakitori/ya11.jpg")
          .food_infos
            %hr.notop          
            %h4 
              YA11 HOTATE
              %small
                6€50
            %price
              Noix de St-Jacques
            %hr              
        %li.four.column
          = image_tag("temp/food/yakitori/ya13.jpg")
          .food_infos
            %hr.notop          
            %h4 
              YA13 TEKKA
              %small
                5€50
            %price
              Thon
            %hr