!!!
%html
  %head
    %title PjaxRails
    = stylesheet_link_tag "application", :media => "all"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    = render "header"
    #slides_container
      .slide.slide_active
        = yield
    #slide_temp
      = yield
    = javascript_include_tag "application"