!!!
%html
  %head
    %title TAKAYALE Restaurant Japonais
    = stylesheet_link_tag "application", :media => "all"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body{ :class => "off-canvas slide-nav"}
    ///CONTAINER//
    .container
      ///TOPBAR//
      .container.top-bar.home-border.expanded.show-for-small
        .attached
          %a.right#sidebarButton.sidebar-button.button{:href => "#sidebar"} menu
          %h1.logo
            %a{:href => "/"}
              takayale
              %br
              %small
                Restaurant Japonais
      ///CONTENT//
      .row#main-content
        //MAIN CONTENT//
        %section#main{:role => "main"}
          #slides_container
            .slide.slide_active
              = yield
        //SIDEBAR//
        %section#sidebar{:role => "complementary"}
          = render "header"
    ///TEMP SLIDING CONTAINER//
    #slide_temp
      = yield
    ///SCRIPTS//
    %script{:src => "http://maps.google.com/maps/api/js?sensor=true", :type => "text/javascript"}
    = javascript_include_tag "application"
    %script{:src => "http://use.typekit.com/ixw3oih.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    %script{ :src => "//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js" }
    %script
      var _gaq=[["_setAccount","UA-30510144-1"],["_trackPageview"],["_trackPageLoadTime"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
    <!--[if lt IE 7]>
    %script
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})});
    <![endif]-->