!!! 5
%html
  %head
    %title TAKAYALE Restaurant Japonais
    = stylesheet_link_tag "application", :media => "all"
    %meta{ :charset => "utf-8" }
    %meta{ :name => "description", :content => "Takayale Restaurant japonais 138 Bis Route Corbeil, 91700 Sainte-Geneviève-des-Bois 01 69 25 88 88" }
    %meta{ :name => "author", :content => "Christophe Dumont" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = csrf_meta_tag
  %body{ :class => "off-canvas slide-nav"}
    ///CONTAINER//
    .container
      ///TOPBAR//
      .container.top-bar.home-border.expanded.show-for-small
        .attached
          %a.right#sidebarButton.sidebar-button.button{:href => "#sidebar"} menu
          %h1.logo
            %a{:href => "/"}
              takayale
              %br
              %small
                Restaurant Japonais
      ///CONTENT//
      .row#main-content
        //MAIN CONTENT//
        %section#main{:role => "main"}
          #slides_container
            .slide.slide_active
              = yield
        //SIDEBAR//
        %section#sidebar{:role => "complementary"}
          = render "header"
    ///TEMP SLIDING CONTAINER//
    #slide_temp
      = yield
    ///SCRIPTS//
    = render "scripts"